#!/usr/bin/make -f
# SPDX-License-Identifier: GPL-2.0-only

export DH_VERBOSE = 1

%:
	dh $@ --with dkms

override_dh_auto_build:
	$(MAKE) tools

override_dh_auto_install:
	# ocsfs-tools
	install -D -m 0755 mkfs.ocsfs    debian/ocsfs-tools/usr/sbin/mkfs.ocsfs
	install -D -m 0755 ocsfs-tool     debian/ocsfs-tools/usr/sbin/ocsfs-tool
	install -D -m 0755 ocsfs-defrag   debian/ocsfs-tools/usr/sbin/ocsfs-defrag
	install -D -m 0755 proxmox/mount.ocsfs debian/ocsfs-tools/usr/sbin/mount.ocsfs
	# man pages
	install -D -m 0644 man/mkfs.ocsfs.8   debian/ocsfs-tools/usr/share/man/man8/mkfs.ocsfs.8
	install -D -m 0644 man/ocsfs-tool.8   debian/ocsfs-tools/usr/share/man/man8/ocsfs-tool.8
	install -D -m 0644 man/ocsfs-defrag.8 debian/ocsfs-tools/usr/share/man/man8/ocsfs-defrag.8
	install -D -m 0644 man/mount.ocsfs.8  debian/ocsfs-tools/usr/share/man/man8/mount.ocsfs.8
	# systemd units
	install -D -m 0644 conf/ocsfs-defrag@.service debian/ocsfs-tools/lib/systemd/system/ocsfs-defrag@.service
	# udev rules
	install -D -m 0644 conf/99-ocsfs.rules debian/ocsfs-tools/lib/udev/rules.d/99-ocsfs.rules
	# ocsfs-dkms
	install -D -m 0644 kmod/dkms.conf debian/ocsfs-dkms/usr/src/ocsfs-0.1.0/dkms.conf
	for f in kmod/*.c kmod/*.h kmod/Kbuild kmod/Makefile; do \
		install -D -m 0644 "$$f" "debian/ocsfs-dkms/usr/src/ocsfs-0.1.0/$$(basename $$f)"; \
	done
	# ocsfs-proxmox
	install -D -m 0644 proxmox/OCSFSPlugin.pm \
		debian/ocsfs-proxmox/usr/share/perl5/PVE/Storage/OCSFSPlugin.pm

override_dh_auto_clean:
	$(MAKE) clean

override_dh_dkms:
	dh_dkms -V 0.1.0
